<div class="header header-primary text-center">
  <h4 class="card-title"><%= title %></h4>
  <div class="social-line">
    <a href=<%= user_twitter_omniauth_authorize_url %> class="btn btn-just-icon btn-simple">
      <i class="fa fa-twitter fa-2x"></i>
    </a>
    <!-- 
    <a href= #user_facebook_omniauth_authorize_url  class="btn btn-just-icon btn-simple">
      <i class="fa fa-facebook-square fa-2x"></i>
    </a> -->
  </div>
</div>