<div class='container'>
  <% @contests.each do |contest| %>
    <div class='col-md-4 col-xs-6'>
      <div class="card">
        <div class="content content-info">
          <h4 class="card-title">
            <%= link_to contest.title, new_contest_game_path(contest) %>
          </h4>
          <div class="footer">
                <div class="author">
                  <a href="#pablo">
                  </a>
                </div>
                <div class="stats">
                  <i class="material-icons">favorite</i> 2.4K &middot;
                  <i class="material-icons">share</i> 45
                </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>