<body class="landing-page">
  <div class="page-header header-filter main-screen" data-parallax="active">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1 class="title">Panelo -- Elo ratings for all kinds of things</h1>
          <h4>Decide who are the best of all time by pinning opponents against each other, one matchup at a time.</h4>
          <br />
          <% if signed_in? %>
            <%= link_to contests_path, class: "btn btn-danger btn-raised btn-lg" do %>
              <i class="fa fa-play"></i> See all games
            <% end %>
          <% end %>
          </a>
        </div>
        <% unless signed_in? %>
          <div class='col-md-5 col-xs-hidden'>
            <%= render 'devise/shared/login' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 class='title'>What is the Elo rating system?</h2>
            <p class='text-left'>The Elo rating system is a method for calculating the relative skill levels of players in competitor-versus-competitor games such as chess. It is named after its creator Arpad Elo, a Hungarian-born American physics professor.</p>

            <p class='text-left'>The Elo system was originally invented as an improved chess rating system but is also used as a rating system for multiplayer competition in a number of video games, association football, gridiron football, basketball, Major League Baseball, Scrabble, snooker and other games.</p>

            <p class='text-left'>The difference in the ratings between two players serves as a predictor of the outcome of a match.</p>
            <%= link_to "Source: Wikipedia, the place we all go for concise information", 'https://en.wikipedia.org/wiki/Elo_rating_system', class:'attribution-link pull-right' %>
          </div>

          <div class="col-md-8 col-md-offset-2">
            <h2 class='title'>How do I play?</h2>
            <p class='text-left'>Take World Cup teams as an example.  You receive several one versus one matchups and select the better team between the two options.  The sum of all of the one on one matchups you selected is used to rank of all the teams using the Elo rating system.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
