<div>
  <div class='col-xs-5'>
    <%= render partial: "players/show", locals: { player: @game.player_1, game: @game } %>
  </div>
  <div class='col-xs-2 vs-box'>
    <div class='vs'>vs</div>
  </div>
  <div class='col-xs-5'>
    <%= render partial: "players/show", locals: { player: @game.player_2, game: @game } %>
  </div>
</div>

<div class='contest-results-links'>
  <% if user_signed_in? %>
    <%= link_to 'See contest results', contest_players_path(@game.contest), class: 'btn btn-primary'  %>
  <% else %>
    <%= link_to 'Log in to see contest results', new_user_session_path, class: 'btn btn-primary' %>
</div>
<% end %>