<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><%= player.name %></h3>
  </div>
  <div class="panel-body">
    <img src='http://placehold.it/300x300' />
  </div>
</div>